<h1>Movies</h1>

<ul>
    {{#each movies}}
        <li> {{title}}, {{length}} min,
            {{#if adult}}
            Parent Control.
            {{else}}
            For the Family.
            {{/if}}
        </li>
    {{/each}}
</ul>
